# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# env
.env
.env.base64
.env.dev
.env.staging
.env.production

# misc
.DS_Store
.eslintcache
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# logs
*-error.log
*-debug.log
